:root {
    --defaultFont: 'Montserrat', sans-serif;
    --borderColor: #ffc6ff;
    --correctColor: #57cc99;
    --incorrectColor: #e63946;
    --mainBorder: 2px solid var(--borderColor);
}

* {
    margin: 2%;
    padding: 1%;
}

/* remove default chrome stypes for buttons */
input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    background-color: #000000;
    color: white;
    font-family: var(--defaultFont);
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1%;
    padding-top: 4%;
}

#time-container {
    margin-right: 2%;
    font-size: 200%;
}

#result-container {
    padding: 2%;
    margin: 2%;
    font-weight: bold;
    text-align: center;
    font-size: 200%;
    color: var(--correctColor);
}

#main-container {
    display: flex;
    flex-direction: column;
    margin: 5%;
    padding: 5%;
    font-size: 200%;
    box-shadow: 0 0.5em 2em -0.8em var(--borderColor);
    border-radius: 10px;
}

#game-start-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#game-start-container button {
    font-size: 0.7em;
    outline: none;
    font-family: var(--defaultFont);
    font-weight: bold;
    align-self: center;
    border: 1px solid var(--borderColor);
    border-radius: 2px;
    transition: all 0.2s;
    background-color: #ffccd5;
}

#game-start-container button:hover {
    border-color: var(--borderColor);
    box-shadow: 0 1em 1em -1em var(--borderColor);
    transform: translateY(-0.1em);
}

#question-container {
    margin-bottom: 5%;
}

#answers-container {
    display: flex;
    flex-direction: column;
}

#save-score-container form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#save-score-container button {
    outline: none;
    border: 1px solid var(--borderColor);
    border-radius: 2px;
    width: 60px;
    font-family: var(--defaultFont);
    font-weight: bold;
}

#highscores {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.answer-button {
    font-family: var(--defaultFont);
    font-weight: bold;
    font-size: 50%;
    margin: 1% 0;
    padding: 1em;
    outline: none;
    border: 1px solid var(--borderColor);
    transition: all 0.2s;
    border-radius: 5px;
    background-color: #ffccd5;
}

.correct {
    background-color: var(--correctColor);
    border-color: var(--correctColor);
}

.correct-text {
    color: var(--correctColor);
}

.incorrect {
    background-color: var(--incorrectColor);
    border-color: var(--incorrectColor);
}

.incorrect-text {
    color: var(--incorrectColor);
}

.hidden {
    display: none;
}

/* Media Query for phones */
@media screen and (max-width: 500px) {
    #game-start-contianer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #game-start-container button {
        width: 100%;
        margin: 2%;
        color: black
    }

    .answer-button {
        color: black;
    }

    #submit-name-button {
        color: black;
    }
}

@media screen and (min-width: 500px) {
    .answer-button:hover {
        border-color: var(--borderColor);
        border-width: 2px;
        box-shadow: 0 1em 1em -1em var(--borderColor);
        transform: translateY(-0.4em);
    }
}