:root {
    --defaultFont: 'Montserrat', sans-serif;
    --borderColor: #ffb703;
    --correctColor: #81b29a;
    --incorrectColor: #e63946;
}

* {
    margin: 2%;
    padding: 1%;
}

body {
    background-color: #023047;
    color: white;
    font-family: var(--defaultFont);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1%;
}

#high-scores-container {
    margin-left: 2%;
}

#high-scores-container button {
    font-family: var(--defaultFont);
    outline: none;
}

#time-container {
    margin-right: 2%;
}

#result-container {
    padding: 2%;
    margin: 2%;
    font-weight: bold;
    text-align: center;
    font-size: 200%;
    color: var(--incorrectColor);
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
    font-size: 200%;
    border: 2px solid var(--borderColor);
}