* {
    margin: 2%;
    padding: 1%;
}

body {
    background-color: #023047;
    color: white;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1%;
}

#high-scores-container {
    margin-left: 2%;
}

#time-container {
    margin-right: 2%;
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
    font-size: 200%;
    border: 2px solid #ffb703;
}

#result-container {}